div.advert {
    background-color: #fff8e8;
    border: 1px solid #CCC;
    border-radius: 3px;
    margin:5px 0;
    box-sizing:border-box;
    width:100%;
}
div.advert > article {
    padding:3px;
    box-sizing:border-box;
	display: flex;
    flex-direction:row;
    align-items:stretch;
    justify-content:center;
    align-content:stretch;
    flex-wrap: nowrap;
    min-height: 86px;
}
@media screen and (max-width: 550px) {
    div.advert > article {
        flex-wrap: wrap;
        padding: 0;
    }
}
div.advert.vip {
    background-color: #ffffcc;
}
div.advert:hover {
    border-color:#999;
}
div.advert.vip:hover{
	border-color:#cc0000;
}

div.advert > article > div.left,
/*div.advert > article > div.right,*/
div.advert > article > div.center {
    box-sizing:border-box;
}
div.advert > article > div.left {
    flex-basis:130px;
    flex-grow:0;
}
@media screen and (max-width: 550px) {
    div.advert > article > div.left {
        flex-grow: 1;
        flex-basis:100%;
    }
}
/*div.advert > article > div.right {
    align-self:center;
    flex-grow: 0;
    flex-basis: auto;
}*/
div.advert > article > div.left > a {
    display: block;
    width: 130px;
    height: 86px;
    overflow: hidden;
    position: relative;
    margin:1px;
    color:transparent;
    outline: 1px solid #ccc;
    transition: all 0.3s;
    float:left;
}
@media screen and (max-width: 550px) {
    div.advert > article > div.left > a {
        width:100%;
        height:auto;
        outline: none;
        margin: auto;
    }
}
div.advert > article > div.left > a > img {
    font-size:11px;
    width:100%;
    height:100%;
    display:block;
    position: absolute;
    top:0;
    left:0;
}
@media screen and (max-width: 550px) {
    div.advert > article > div.left a img {
        height: auto;
        position:relative;
    }
}
div.advert:hover > article > div.left a {
    border-color:#999;
}
div.advert > article > div.left a > span {
    background: none no-repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    border-radius:2px;
    bottom: 3px;
    color: white;
    left: 3px;
    line-height: 17px;
    padding: 0 3px;
    position: absolute;
}
div.advert > article > div.left a > span > span {
    background: url("/img/common/system/icon/photocamera.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    display: inline-block;
    padding-left: 18px;
    font-size:11px;
}
div.advert > article > div.left.no_photo {
    background: url("/http/image/desing/icon/no_photo.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
@media screen and (max-width: 550px) {
    div.advert > article > div.left.no_photo {
        background: none;
        display: none;
    }
}
div.advert > article > div.left.no_photo > div{
    display: block;
    width: 130px;
    height: 86px;
}
div.advert > article > div.center {
    flex-grow:1;
    padding:0 0 0 5px;
    position: relative;
}
@media screen and (max-width: 550px) {
    div.advert > article > div.center {
        padding: 3px;
    }
}
div.advert > article > div.center > div.price {
    background-color: #CCC;
    color: #333;
    border-bottom-left-radius: 6px;
    border-style: none;
    box-sizing: border-box;
    display: block;
    font-size: 11px;
    padding:5px;
    float:right;
    margin:-3px -3px 0 5px;
}
div.advert > article > div.center header {
    color: #113b63;
    font-size: 14px;
    line-height:16px;
    margin: 0 0 10px 0;
}
@media screen and (max-width: 550px) {
    div.advert > article > div.center header {
        margin: 5px 0 10px 0;
    }
}
div.advert > article > div.center header h3 {
    color:#113b63;
    font-size: 16px;
}
div.advert > article > div.center header h3 a {
    color: #0033cc;
    display: block;
    text-decoration: none;
}
div.advert.vip > article > div.center header h3 a,
div.advert.vip > article > div.center header h3 a:active,
div.advert.vip > article > div.center header h3 a:hover,
div.advert.vip > article > div.center header h3 a:visited {
    color:#CC0000 !important;
}

div.advert > article > div.center table {
    border-collapse:collapse;
    border-spacing:5px 0;
    font-size: 11px;
    width: auto;
}
div.advert > article > div.center table tbody tr td {
    color: #113b63;
}
div.advert > article > div.center table tbody tr td:first-child {
    font-weight: bold;
    padding: 0 5px 0 0;
    vertical-align: baseline;
}
div.advert > article > div.center table tbody tr td a {
    color: #395773;
    text-decoration: none;
}
div.advert > article > div.center p {
    display:block;
    font-size: 90%;
}

/* Менеджер управления каждым объявлением в личном кабинете */
div.advert > div.navblock {
    border-top: 1px dashed #ccc;
    overflow:hidden;
}
div.advert > div.navblock ul {
    display: block;
    list-style-type: none;
    margin: 0 0 0 140px;
    overflow:hidden;
    transition: all 0.5s;
}
div.advert > div.navblock.double.view ul {
    margin-left:275px;
}
@media screen and (max-width: 900px) {
    div.advert > div.navblock ul,
    div.advert > div.navblock.double ul
    div.advert > div.navblock.double.view ul{
        margin-left:140px !important;
    }
}
@media screen and (max-width: 550px) {
    div.advert > div.navblock ul,
    div.advert > div.navblock.double ul,
    div.advert > div.navblock.double.view ul{
        margin-left: 3px !important;
    }
}

div.advert > div.navblock ul li {
    color: #666666;
    display: block;
    float: left;
    font-size: 11px;
    line-height: 25px;
    margin: 0 20px 0 0;
    padding-left: 20px;
    white-space: nowrap;
}
div.advert > div.navblock ul li:last-child {
    margin:0;
}
div.advert > div.navblock ul li.advert_date {
    background: url("/img/common/system/icon/information.png") no-repeat scroll left center rgba(0, 0, 0, 0);
}
div.advert > div.navblock ul li.edit_link {
    background: url("/img/common/system/icon/edit.png") no-repeat scroll left center rgba(0, 0, 0, 0);
}
div.advert > div.navblock ul li.up_link{
    background:url('/img/common/system/icon/arrow_up.png') center left no-repeat;
    cursor: help;
}
div.advert > div.navblock ul li.lock_link{
    background:url('/img/common/system/icon/lock.png') center left no-repeat;
}
div.advert > div.navblock ul li.lock-open_link{
    background:url('/img/common/system/icon/lock-open.png') center left no-repeat;
}
div.advert > div.navblock ul li.delete_link{
    background:url('/img/common/system/icon/delete.png') center left no-repeat;
}
div.advert > div.navblock ul li.delete_user_link{
    background:url('/img/common/system/icon/user_delete.png') center left no-repeat;
}
div.advert > div.navblock ul li.advert_search{
    background:url('/img/common/system/icon/chart_bar.png') center left no-repeat;
}
div.advert > div.navblock ul li.advert_vip,
div.advert > div.navblock ul li.advert_special{
    background:url('/img/common/system/icon/star.png') center left no-repeat;
}
div.advert > div.navblock ul li.all_adverts{
    background:url('/img/common/system/icon/zoom.png') center left no-repeat;
}




div.advert > div.navblock ul li.advert_vip a {
    color:#CC0000;
}
div.advert > div.navblock ul li.advert_special a {
    color:#BB0000;
}
div.advert > div.navblock ul li.advert_gp{
    background:url('/img/common/system/icon/gp.png') center left no-repeat;
}
div.advert > div.navblock ul li.advert_yp{
    background:url('/img/common/system/icon/yp.png') center left no-repeat;
}
div.advert > div.navblock ul li.advert_payment{
    background:url('/img/common/system/icon/money.png') center left no-repeat;
}
div.advert > div.navblock ul li.advert_payment a {
    color:green;
}

/* на мониторе для спецпредложений */
@media screen and (min-width: 1000px) {
    div.advert.special > article {
        flex-wrap: wrap;
        padding: 0;
    }
    div.advert.special > article > div.left {
        flex-basis: 250px;
    }
    div.advert.special > article > div.left a {
        width: 100%;
        height: 200px;
        border: none;
    }
    div.advert.special > article > div.left.no_photo {
        display: none;
    }
    div.advert.special > article > div.center {
        padding: 3px;
    }
    div.advert.special > article > div.center header h3,
    div.advert.vip > article > div.center header h3{
        font-size: 18px;
    }
    div.advert.special > div.navblock ul {
        margin: 0 0 0 5px;
    }
}
