div#advert_frontend-add .two_column .right_column .right_column_content,
div#advert_frontend-add .two_column .left_column .left_column_content {
    padding: 0 10px;
}
div#advert_frontend-add .two_column .right_column .right_column_content h3,
div#advert_frontend-add .two_column .left_column .left_column_content h3 {
    font-size: 18px;
    color: #113B63;
    background: none;
    text-align: center;
    margin: 10px 0 20px 0;
}

div#advert_frontend-add .two_column ul li {
    padding: 0 0 0 23px;
    margin-bottom: 10px;
    list-style-type: none;
}
div#advert_frontend-add .two_column ul.plus li {
    background: url('/http/image/desing/icon/plus.png') center left no-repeat;
}
div#advert_frontend-add .two_column ul.minus li {
    background: url('/http/image/desing/icon/minus.png') center left no-repeat;
}
div#advert_frontend-add .two_column ul.information li {
    background: url('/http/image/desing/icon/information.png') center left no-repeat;
}
div#advert_frontend-add .two_column ul.information li:last-child {
    margin: 0;
}
div#advert_frontend-add .two_column.add .right_column .right_column_content,
div#advert_frontend-add .two_column.add .left_column .left_column_content {
    font-size: 18px;
    text-align: center;
    padding: 20px 0 10px 0;
}