div#advert_frontend-edit-advert div#forms_wrap{
    margin-left:280px;
    width:910px;
}


/* Советы по размещению перед текстовыми полями */
div#advert_frontend-edit-advert div.field_row_fake div.description_before_fields {
    background-image:url("/img/common/system/icon/online.png");
}
div#advert_frontend-edit-advert div.field_row_fake div.description_before_fields.attention {
    background: url("/img/common/system/icon/information.png") no-repeat scroll 0 50% transparent;
}



/* Блок, включающий aside */
div#advert_frontend-edit-advert div#aside_blocks {
    margin:0 10px 0 0;
    float:left;
    width:270px;
    padding:0;
    box-sizing:border-box;
}
/* Конкретные блоки */
div#advert_frontend-edit-advert div#aside_blocks aside.rules{
    border:1px solid #CCC;
    margin:0 0 10px 0;
    font-size:11px;
    color:#333;
    border-radius:4px;
}
div#advert_frontend-edit-advert div#aside_blocks aside.rules div.rules_text{
    padding:5px;
}
div#advert_frontend-edit-advert div#aside_blocks aside.rules div.rules_text p:first-child{
    background-color:#F0F0F0;
    padding:5px;
    font-size:12px;
    color:#994015;
    margin:0 0 10px 0;
}
div#advert_frontend-edit-advert div#aside_blocks aside.rules div.rules_text p:last-child{
    color: #113B63;
    /*margin:10px 0 0 0;*/
    font-weight: bold;
    text-align: center;
}
div#advert_frontend-edit-advert div#aside_blocks aside.rules div.rules_text ul{

}
div#advert_frontend-edit-advert div#aside_blocks aside.rules div.rules_text ul li{
    margin:0 0 15px 15px;
    list-style-type: disc;
}



/* Стили для полей */
div#advert_frontend-edit-advert select#advert_category,
div#advert_frontend-edit-advert textarea#advert_text,
div#advert_frontend-edit-advert input#advert_header {
    width:100%; /* для advert_category */
    max-width:100%; /* для advert_header и advert_text */
    box-sizing:border-box;
}
div#advert_frontend-edit-advert textarea#advert_text {
    height:250px;
}
div#advert_frontend-edit-advert input#advert_price {
    width:90px;
}
div#advert_frontend-edit-advert div.fields_wrap {
    max-width:100%;
    min-width:100px;
    position:relative; /* для подсказок */
    box-sizing:border-box;
}
/* Метки: Страна, город, Регион */
div#advert_frontend-edit-advert div.fields_wrap.cities p {
}
div#advert_frontend-edit-advert div.fields_wrap.cities p > span.city_field_description {
    font-weight:bold;
    width:60px;
    display:block;
    float:left;
    font-size:11px;
    color:#666;
    line-height: 40px;
}
div#advert_frontend-edit-advert div.fields_wrap.cities select {
    width:500px;
}
/* Для всплывающей подсказки около чекбокса "даром" меняем позицию сноски */
div#advert_frontend-edit-advert div.animate_field_description_free div.triangle-right {
	top:33px;
}
div#advert_frontend-edit-advert div.animate_field_description_free div.triangle-right-border {
	top:32px;
}
/* Для всплывающей подсказки около поля капчи меняем позицию сноски */
div#advert_frontend-edit-advert div.animate_field_captcha div.triangle-right {
	top:20px;
}
div#advert_frontend-edit-advert div.animate_field_captcha div.triangle-right-border {
	top:19px;
}


/* Красивое radio (при условии, что за input сразу идёт label)*/
div#advert_frontend-edit-advert div.field_row .radiobuttons_classic input[type="radio"]{
    display:none;
}
div#advert_frontend-edit-advert div.field_row .radiobuttons_classic label {
    border-radius:5px;
    line-height: 25px;
    padding:3px 10px 3px 23px;
    display:inline-block;
    margin:0 5px 0 0;
    border:1px solid transparent;
    cursor:pointer;
    line-height: 25px;
    background:url(/img/common/system/icon/radiobutton_no.png) 5px 50% no-repeat #FFF;
}
div#advert_frontend-edit-advert div.field_row .radiobuttons_classic label:hover {
    border:1px solid #CCCCCC;
    background-color: #f5f5f5;
}
div#advert_frontend-edit-advert div.field_row .radiobuttons_classic input[type="radio"]:checked + label{
    border: 1px solid #7F9DB9;
    background:url(/img/common/system/icon/radiobutton_yes.png) 5px 50% no-repeat #f5f5f5;
}

/* Быстрый выбор страны */
div#advert_frontend-edit-advert div#simple_city_checked {
    font-size:11px;
    color:#666;
    padding:10px 0 0 10px;
}
div#advert_frontend-edit-advert div#simple_city_checked p{
    font-weight: bold;
    margin-bottom: 10px;
}
div#advert_frontend-edit-advert div#simple_city_checked dl dt {
    font-weight:bold;
    padding:0 0 0 20px;
}
div#advert_frontend-edit-advert div#simple_city_checked dl dt#ru_icon {
    background:url(/http/image/desing/flags/ru.png) top left no-repeat;
}
div#advert_frontend-edit-advert div#simple_city_checked dl dt#by_icon {
    background:url(/http/image/desing/flags/by.png) top left no-repeat;
}
div#advert_frontend-edit-advert div#simple_city_checked dl dt#ua_icon {
    background:url(/http/image/desing/flags/ua.png) top left no-repeat;
}
div#advert_frontend-edit-advert div#simple_city_checked dl dt#kz_icon {
    background:url(/http/image/desing/flags/kz.png) top left no-repeat;
}
div#advert_frontend-edit-advert div#simple_city_checked dl dt#nr_icon {
    background:url(/http/image/desing/flags/nr.png) top left no-repeat;
}
div#advert_frontend-edit-advert div#simple_city_checked dl dd {
    padding:5px 0 10px 20px;
}
div#advert_frontend-edit-advert div#simple_city_checked a {
    color:#333;
    text-decoration:underline;
}



/* Описание перед загрузкой фото */
div#advert_frontend-edit-advert fieldset div#photo_rules {
	margin: 0 0 10px 0;
}
div#advert_frontend-edit-advert fieldset div#photo_rules p{
    font-weight:bold;
}
div#advert_frontend-edit-advert fieldset div#photo_rules ul li{
    margin:0 0 0 30px;
}
div#advert_frontend-edit-advert fieldset iframe {
    display:none;
}
/* блок с изображениями изначально скрыт - display=block ставится в JS */
div#advert_frontend-edit-advert fieldset div#uploaded_images {
    margin:15px auto;
    overflow:hidden;
    width:465px;
    display:none;
}
/* или на уровне формирования шаблона, проставляя класс display - если есть изображения у сущьности  */
div#advert_frontend-edit-advert fieldset div#uploaded_images.display {
	display:block;
}

/* Кнопка удаления изображения */
div#advert_frontend-edit-advert fieldset div#uploaded_images span{
    margin:3px 3px 0 0;
    float:left;
    display:block;
    position:relative;
}
div#advert_frontend-edit-advert fieldset div#uploaded_images span img{
    border:1px solid #CCC;
    display:block;
    width:130px;
    height:86px;
}
div#advert_frontend-edit-advert fieldset div#uploaded_images span a {
    background:white url('/img/common/system/icon/delete.png') top left no-repeat;
    width:16px;
    height:16px;
    display:block;
    position:absolute;
    bottom:5px;
    left:5px;
    border:1px solid #e15d52;
}
div#advert_frontend-edit-advert fieldset div#uploaded_images span a:hover {
    box-shadow: 0 0 15px #fff;
}

/* Ошибка загрузки изображения. Блок скрыт - display=block ставится в JS */
#thumbnail_errors {
    vertical-align:middle;
    margin:10px 0 10px 0;
    display:none;
    color:#E15D52;
    font-size:11px;
    padding:2px 0 2px 21px;
    background:url(/img/common/system/icon/exclamation.png) no-repeat left;
    line-height:1.25;
}

/* Ссылка на соглашение с условиями использования сайта */
div#advert_frontend-edit-advert div#terms_of_service{
    margin:20px 0 0 0;
    font-size:11px;
    color:#333;
}