/* Заголовок категории и его описание */
 div.hgroup {
    background-color:#f0f0f0;
    color:#113B63;
    margin:0 0 10px 0;
    border-radius:10px;
}
 div.hgroup h2{
    background-color:transparent;
    border-radius:0;
    margin-bottom:0;
}
 div.hgroup p {
    margin:0;
    padding:0 10px 10px 10px;
    font-size:11px;
}


/* Субкатегории */
.subcategories ul li{
    padding-left:16px;
    background:url('/http/image/desing/icon/li-arrow.png') top left no-repeat;
}
/* Нижний блок с категориями */
div.subcategories.bottom{
    margin:20px 0;
}
div.subcategories.bottom ul li {
    padding:0;
    background:none;
}


/* два столбца - фильтр и подать объявление кнопка */
.subcategories.filter .bheader {
    background-image:url('/http/image/desing/icon/zoom.png');
    background-repeat: no-repeat;
    background-position: 5px center;
    background-attachment: scroll;
    padding-left: 25px;
    font-size:12px;
}
.subcategories.filter .two_column {
    margin:10px 0 0 0;
}
.subcategories.filter .two_column .left_column {
    flex-basis:60%;
    font-size: 11px;
}
.subcategories.filter .two_column .right_column {
    flex-basis:40%;
    align-self: flex-start;
}
.subcategories.filter .two_column .left_column .left_column_content {
    padding-right:10px;
}
.subcategories.filter .two_column .left_column .left_column_content form div.field_row > label,
.subcategories.filter .two_column .left_column .left_column_content form div.field_row_fake > div:first-child {
    width:auto;
}
.subcategories.filter .two_column .left_column .left_column_content form div.field_row input,
.subcategories.filter .two_column .left_column .left_column_content form div.field_row select {
    font-size:12px;
}
.subcategories.filter .two_column .left_column .left_column_content form input[type="submit"]{
    padding:7px 10px;
    box-shadow:none;
    margin:0 0 0 10px;
}
.subcategories.filter .two_column .left_column .left_column_content form input[type="text"]{
	width:200px;
}

/* Ссылка подать объявление в этот раздел */
.subcategories.filter .two_column .right_column .right_column_content {
    font-size:13px;
    padding:10px 10px 10px 44px;
    background:url('/http/image/desing/icon/advert_add.png') 10px center no-repeat;
    border:1px solid #ccc;
    display:block;
	color:#395773;
	cursor:pointer;
    height: 100%;
}
.subcategories.filter .two_column .right_column .right_column_content a {
	color:#395773;
	text-decoration:none;
}
.subcategories.filter .two_column .right_column .right_column_content span.with_decoration {
    text-decoration: underline;
}
.subcategories.filter .two_column .right_column .right_column_content span.other_color {
	color:#0033cc;
}
.subcategories.filter .two_column .right_column .right_column_content:hover span.with_decoration {
    text-decoration:none;
}



/* Красивое radio (при условии, что за input сразу идёт label)*/
.nice_radiobuttons input[type="radio"]{
    display:none;
}
.nice_radiobuttons label{
    padding:0px 5px 2px 5px;
    cursor:pointer;
    margin:0 5px 0 0;
    color:#113B63;
    border-radius:5px;
}
.nice_radiobuttons label:hover{
    color:#fff;
    background-color:#336699;
}
.nice_radiobuttons input[type="radio"]:checked + label{
    color:#fff;
    background-color:#994015;
}