html, body {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
}
p {
    margin: 5px 0;
}
strong, b {
    font-weight: bold;
}
small {
    font-size: 90%;
}
a:link {
    text-decoration: underline;
    color: #0033CC;
}
a:visited {
    text-decoration: underline;
    color: #0033CC;
}
a:active {
    text-decoration: none;
    color: #CC0000;
}
a:hover {
    text-decoration: none;
    color: #0033CC;
}
legend,
fieldset {
    border-radius: 5px;
}
fieldset {
    padding: 10px;
    border: 1px solid #CCCCCC;
    margin: 10px 0;
}
legend {
    background-color: #f0f0f0;
    font-weight: normal;
    padding: 5px;
    color: #994015;
    font-size: 13px;
}
select,
input,
textarea {
    padding: 7px;
    font-family: inherit;
    font-size: inherit;
}
textarea {
    padding: 5px;
    resize: vertical;
    box-sizing: border-box;
    width: 500px;
    height: 250px;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="number"],
select,
textarea {
    border: 1px solid #7F9DB9;
    box-sizing: border-box;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="number"]:focus,
textarea:focus {
    box-shadow: 0 0 10px #F5DF94;
}
input[type="submit"],
input[type="button"] {
    background: linear-gradient(to bottom, #336699 30%, #113b63 100%); /* W3C */
    border: none;
    box-shadow: 0 0 5px 1px #336699;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 10px 10px;
}
input[type="submit"]:hover,
input[type="button"]:hover {
    background: linear-gradient(to bottom, #336699 30%, #395773 100%); /* W3C */
}
input[type="submit"]:active,
input[type="button"]:active {
    background: linear-gradient(to bottom, #395773 30%, #336699 100%); /* W3C */
}
input[type="file"] {
    background-color: #f5f5f5;
}
table tbody tr td,
table tbody tr th {
    vertical-align: middle;
}