/* User login */

div#authorization_frontend-login .two_column.login .left_column {
    width:460px;
    padding:10px 0 0 10px;
}
div#authorization_frontend-login .two_column.login .right_column {
    width:500px;
}

div#authorization_frontend-login .two_column.login .left_column ul#my_actions{
    margin: -5px 0 0 20px;
}
div#authorization_frontend-login .two_column.login .left_column ul#my_actions li{
    margin:0 0 0 0;
    font-size:18px;
	line-height:45px;
	list-style-position:inside;
}
div#authorization_frontend-login .two_column.login .left_column ul#my_actions li.new {
	list-style-image:url('/http/image/desing/icon/advert_add.png');
}
div#authorization_frontend-login .two_column.login .left_column ul#my_actions li.adverts {
    list-style-image:url('/http/image/desing/icon/advert_edit.png');
}
div#authorization_frontend-login .two_column.login .left_column ul#my_actions li.userinfo {
    list-style-image:url('/http/image/desing/icon/advert_user.png');
}
div#authorization_frontend-login .two_column.login .left_column ul#my_actions li.logout {
    list-style-image:url('/http/image/desing/icon/advert_exit.png');
}


/* User logout */
div#authorization_frontend-login form fieldset {
	padding-bottom:20px;
}

/* Для всплывающей подсказки около чекбокса "запомнить пароль" меняем позицию сноски */
div#authorization_frontend-login div.animate_field_description_remember_password div.triangle-right {
    top:5px;
}
div#authorization_frontend-login div.animate_field_description_remember_password div.triangle-right-border {
    top:4px;
}

div#authorization_frontend-login div.field_row > label,
div#authorization_frontend-login div.field_row_fake > div:first-child {
    width:auto;
}
div#authorization_frontend-login div.field_row > label#for_autologin {
    vertical-align: top;
}
div#authorization_frontend-login div.field_row div.group div#change_cookie_days{
    font-size:11px;
    display:none;
    color:#333;
    margin-top:10px;
}
div#authorization_frontend-login div.field_row div.group div#change_cookie_days a,
div#authorization_frontend-login div.field_row div.group div#change_cookie_days a:link {
    border: 1px solid #CCC;
    padding: 3px;
    text-decoration: none;
    cursor:pointer;
}
div#authorization_frontend-login div.field_row div.group div#change_cookie_days a:hover {
    background-color:#E6E6FA;
}
div#authorization_frontend-login div.two_column.logout div.left_column {
}
div#authorization_frontend-login div.two_column.logout div.right_column {
    border-left:1px solid #CCC;
    padding-left:10px;
}
div#authorization_frontend-login div.two_column.logout div.right_column ul.information li {
    padding:0 0 0 23px;
    list-style-type:none;
    font-size:14px;
    background:url('/img/common/system/icon/information.png') center left no-repeat;
    margin:0 0 15px 0;
}
div#authorization_frontend-login div.two_column.logout div.right_column div.right_column_content ul.information li:last-child{
    margin:0;
}