article#help ul.poleznye_sovety{
    margin:20px 0;
}
article#help ul.poleznye_sovety li{
    margin:20px 0;
    list-style-type:none;
}

article#help dl{
    margin:20px;
}
article#help dl dt {
    font-size:14px;
}
article#help dl dd{
    margin:20px;
}