div#getpassword_frontend-getpassword div.field_row > label,
div#getpassword_frontend-getpassword div.field_row_fake > div:first-child {
	width:auto;
}
div#getpassword_frontend-getpassword div.two_column div.left_column {
    text-align:justify;
}
div#getpassword_frontend-getpassword div.two_column div.left_column,
div#getpassword_frontend-getpassword div.two_column div.right_column {
	box-sizing:border-box;
	padding:10px 20px;
}
div#getpassword_frontend-getpassword div.two_column div.right_column {
	align-self: center;
	border-left: 1px solid #CCC;
}